<div class="top_main_view">
  <%= render 'experience/commons/ex_mv_wrap' %>
  <div class="common_inner">
    <%= render 'components/form_step_list' %>
    <div class="exdetail_wrap clearfix">
      <section class="exdetail_left_block">
        <div class="form_wrap">
          <form action="" method="">
            <p class="form_top_text">
              Please fill out the form shown below. <span class="red">(*Required)</span><br>
              Let us see your offer, we will get back to you again.&nbsp; For more information click <span class="bold">[How to book]</span>.
            </p>
            <a href="" class="form_top_book_btn">
              <img src=<%= image_path("form/book_icon.png") %> alt="how to book">
            </a>
            <div class="form_day_wrap">
              <div class="form_day_title_block">
                <p class="form_common_title">Day</p>
                <p class="form_common_title">Start time</p>
              </div>
              <p class="form_common_error_msg">*Required.</p>
              <div class="form_day_common_block">
                <p class="form_common_title sp">Day</p>
                <input type="text" name="day01" class="form_day_input">
                <p class="form_common_title sp">Start time</p>
                <select name="time01" class="form_time_select">
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
                <p class="form_choice_text">First choice<span>*</span></p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp">Day</p>
                <input type="text" name="day02" class="form_day_input">
                <p class="form_common_title sp">Start time</p>
                <select name="time01" class="form_time_select">
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
                <p class="form_choice_text">Second choice</p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp">Day</p>
                <input type="text" name="day03" class="form_day_input">
                <p class="form_common_title sp">Start time</p>
                <select name="time01" class="form_time_select">
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
                <p class="form_choice_text">Third choice</p>
              </div>
            </div>
            <div class="form_people_wrap">
              <p class="form_common_title">Number of People<span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <div class="form_people_inner">
                <div class="form_people_common_block">
                  <p class="form_people_title">Adults</p>
                  <div class="num_wrap">
                    <a href="" class="minus">−</a>
                    <p class="num">1</p>
                    <a href="" class="plus">＋</a>
                  </div>
                </div>
                <div class="form_people_common_block">
                  <p class="form_people_title">Children<span>(2-12)</span></p>
                  <div class="num_wrap">
                    <a href="" class="minus">−</a>
                    <p class="num">0</p>
                    <a href="" class="plus">＋</a>
                  </div>
                </div>
                <div class="form_people_common_block">
                  <p class="form_people_title">Infants<span>(&lt;2)</span></p>
                  <div class="num_wrap">
                    <a href="" class="minus">−</a>
                    <p class="num">0</p>
                    <a href="" class="plus">＋</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_interpreter_wrap">
              <p class="form_common_title">Interpreter<span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <div class="form_interpreter_inner">
                <label for="Need" class="form_interpreter_label">
                  <input type="radio" name="interpreter" id="Need" class="form_radio_input">Need
                </label>
                <label for="Unnecessary" class="form_interpreter_label">
                  <input type="radio" name="interpreter" id="Unnecessary" class="form_radio_input">Unnecessary
                </label>
              </div>
              <p class="form_subtext">We will charge you an additional <span>2,160yen</span> for requesting an interpreter.</p>
            </div>
            <div class="form_profile_wrap">
              <p class="form_common_title">Guest Information</p>
              <div class="form_profile_inner">
                <div class="form_profile_title">
                  <p class="form_common_title">Title</p>
                  <select name="gender" class="form_profile_select">
                    <option value=""></option>
                    <!--                       <option value="✔">✔</option> -->
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Mrs.">Mrs.</option>
                  </select>
                </div>
                <div class="form_profile_name left">
                  <p class="form_common_title">First Name<span>*</span></p>
                  <p class="form_common_error_msg">*Required.</p>
                  <input type="text" name="firstname" class="form_profile_input">
                </div>
                <div class="form_profile_name right">
                  <p class="form_common_title">Last Name<span>*</span></p>
                  <p class="form_common_error_msg">*Required.</p>
                  <input type="text" name="lastname" class="form_profile_input">
                </div>
              </div>
            </div>
            <div class="form_sub_profile_wrap">
              <p class="form_common_title">Age<span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <input type="text" name="age" class="form_sub_input_short">
              <p class="form_common_title">Nationality</p>
              <input type="text" name="nationality" class="form_sub_input_middle">
              <p class="form_common_title">Language<span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <input type="text" name="language" class="form_sub_input_middle">
              <p class="form_common_title">Phone number</p>
              <input type="tel" name="phone" class="form_sub_input_middle">
              <p class="form_common_title">Email<span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <input type="email" name="email" class="form_sub_input_long">
              <p class="form_common_title">Current address in Japan</p>
              <textarea name="address" class="form_textarea_block"></textarea>
              <div class="form_sub_others">
                <div class="checkbox_style" id="NotGuestCheck">
                  <input type="checkbox" name="notguest" value="not guest" id="NotGuest">
                  <label for="NotGuest"><span><small>I'm not guest.</small> I'm making this booking for someone else.</span></label>
                </div>
                <div class="form_sub_others_box">
                  <div class="form_profile_inner">
                    <div class="form_profile_title">
                      <p class="form_common_title">Title</p>
                      <select name="gender" class="form_profile_select">
                        <option value=""></option>
                        <!--                       <option value="✔">✔</option> -->
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                      </select>
                    </div>
                    <div class="form_profile_name left">
                      <p class="form_common_title">First Name<span>*</span></p>
                      <p class="form_common_error_msg">*Required.</p>
                      <input type="text" name="firstname" class="form_profile_input">
                    </div>
                    <div class="form_profile_name right">
                      <p class="form_common_title">Last Name<span>*</span></p>
                      <p class="form_common_error_msg">*Required.</p>
                      <input type="text" name="lastname" class="form_profile_input">
                    </div>
                  </div>
                  <p class="form_common_title">Your Email<span>*</span></p>
                  <p class="form_common_error_msg">*Required.</p>
                  <input type="email" name="guestemail" class="form_sub_input_long">
                  <div class="form_guest_confirm">
                    <label for="Confirm01" class="form_interpreter_label">
                      <input type="radio" name="confirm" id="Confirm01" class="form_radio_input">Please send the Confirmation Email and Payment information <span id="OnlyMeBtn">only to me</span>.
                    </label>
                    <div class="form_confirm_popup">
                      <p class="form_confirm_info_text">
                        家族や友人に体験をプレゼントしたい時に、自分にだけ支払い情報を送ることができます。<br>
                        プレゼントするゲストには支払い後に予約完了情報が送られ、金額は表示されません。
                      </p>
                    </div>
                    <label for="Confirm02" class="form_interpreter_label">
                      <input type="radio" name="confirm" id="Confirm02" class="form_radio_input">Please send the Confirmation Email and Payment information to guest and me.
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_accept_wrap">
              <p class="form_common_error_msg">*Required.</p>
              <div class="checkbox_style">
                <input type="checkbox" name="accept_notes" value="acceptnotes" id="AcceptNotes">
                <label for="AcceptNotes"><span>have read and accepted 
                    <p class="form_common_title">Notes<span>*</span></p>
                    .</span></label>
              </div>
              <div class="form_accept_block">
                <p class="text">
                  We don't have a gluten free option ... sorry.  Please bring your camera and towels
                </p>
              </div>
            </div>
            <div class="form_accept_wrap">
              <p class="form_common_error_msg">*Required.</p>
              <div class="checkbox_style">
                <input type="checkbox" name="accept_terms" value="acceptterms" id="AcceptTerms">
                <label for="AcceptTerms"><span>have read and accepted <a href="" class="form_common_title">Terms of service<span>*</span></a>.</span></label>
              </div>
            </div>
            <input type="submit" value="Go to Confirm page" class="form_subtmit_btn">
          </form>
        </div>
      </section>
      <aside class="exdetail_right_block" style="height: 2078px;">
        <div class="exdetail_right_top" style="position: absolute; top: 0px;">
          <div class="exdetail_main_pic" style="background: url(<%= image_url("ex/pic01.jpg") %>) center center no-repeat;background-size: cover;"></div>
          <p class="form_aside_pic_info"><a href="">Hosted by SUiTO</a></p>
          <table class="form_aside_table">
            <tbody>
              <tr>
                <th>
                  <img src=<%= image_path("form/money.png") %> alt="money">
                </th>
                <td>
                  <span>¥2,400</span>/guest
                </td>
              </tr>
              <tr>
                <th>
                  <img src=<%= image_path("form/time.png") %> alt="time">
                </th>
                <td>
                  2 hours total
                </td>
              </tr>
              <tr>
                <th>
                  <img src=<%= image_path("form/place.png") %> alt="place">
                </th>
                <td>
                  Momochihama
                </td>
              </tr>
            </tbody>
          </table>
          <div class="form_aside_box">
            <p class="form_aside_box_title">Provided</p>
            <p class="form_aside_box_text">
              ・Shodo trial set<br>
              ・T-Shirt<br>
              ・Tea or water
            </p>
          </div>
          <div class="form_aside_box">
            <p class="form_aside_box_title">Cancellation policy</p>
            <p class="form_aside_box_text">
              Get a full refund if you cancel within 24 hours of purchase.
            </p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
