<div class="top_main_view">
  <%= render 'experience/commons/ex_mv_wrap' %>
  <div class="common_inner">
    <%= render 'components/form_step_list' %>
    <div class="exdetail_wrap clearfix">
      <section class="exdetail_left_block">
        <div class="form_wrap">
          <form action="" method="">
            <div class="form_day_wrap">
              <div class="form_day_title_block">
                <p class="form_common_title">Day</p>
                <p class="form_common_title">Start time</p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp">Day</p>
                <p class="form_confirm_text big">Sat, October 7</p>
                <p class="form_common_title sp">Start time</p>
                <p class="form_confirm_text small">10:00</p>
                <p class="form_choice_text">First choice<span>*</span></p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp">Day</p>
                <p class="form_confirm_text big">Sat, October 7</p>
                <p class="form_common_title sp">Start time</p>
                <p class="form_confirm_text small">10:00</p>
                <p class="form_choice_text">Second choice</p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp">Day</p>
                <p class="form_confirm_text big">Sat, October 7</p>
                <p class="form_common_title sp">Start time</p>
                <p class="form_confirm_text small">10:00</p>
                <p class="form_choice_text">Third choice</p>
              </div>
            </div>
            <div class="form_people_wrap">
              <p class="form_common_title">Number of People<span>*</span></p>
              <div class="form_confirm_people_inner">
                <div class="form_confirm_people_common">
                  <p class="form_confirm_text first">Adults</p>
                  <p class="form_confirm_text">2</p>
                  <p class="form_confirm_text">x</p>
                  <p class="form_confirm_text">¥2,400</p>
                  <p class="form_confirm_text">=</p>
                  <p class="form_confirm_text">¥4,800</p>
                </div>
                <div class="form_confirm_people_common">
                  <p class="form_confirm_text first">Children<span>(2-12)</span></p>
                  <p class="form_confirm_text">1</p>
                  <p class="form_confirm_text">x</p>
                  <p class="form_confirm_text">¥1,200</p>
                  <p class="form_confirm_text">=</p>
                  <p class="form_confirm_text">¥1,200</p>
                </div>
              </div>
            </div>
            <div class="form_interpreter_wrap">
              <p class="form_common_title">Interpreter<span>*</span></p>
              <div class="form_confirm_interpreter_inner">
                <p class="form_confirm_text">Need</p>
                <p class="form_confirm_text">¥2,160</p>
              </div>
              <p class="form_subtext">We will charge you an additional <span>2,160yen</span> for requesting an interpreter.</p>
              <div class="form_confirm_interpreter_bottom clearfix">
                <div class="total">
                  <p class="form_confirm_text">Total</p>
                  <p class="form_confirm_text">¥8,160</p>
                </div>
              </div>
            </div>
            <!--
              <div class="form_profile_wrap">
                <p class="form_common_title">Guest Information</p>
                <div class="form_profile_inner">
                  <div class="form_profile_title">
                    <p class="form_common_title">Name<span>*</span></p>
                    <p class="form_confirm_text">Ms. Abby Suzuki</p>
                  </div>
                </div>
              </div>
-->
            <div class="form_sub_profile_wrap">
              <p class="form_common_title">Guest Information</p>
              <p class="form_common_title">Name<span>*</span></p>
              <p class="form_confirm_text">Ms. Abby Suzuki</p>
              <p class="form_common_title">Age<span>*</span></p>
              <p class="form_confirm_text">30</p>
              <p class="form_common_title">Nationality</p>
              <p class="form_confirm_text">Japan</p>
              <p class="form_common_title">Language<span>*</span></p>
              <p class="form_confirm_text">Japanese</p>
              <p class="form_common_title">Phone number</p>
              <p class="form_confirm_text">81-00-0000-0000</p>
              <p class="form_common_title">Email<span>*</span></p>
              <p class="form_confirm_text">abbyabby@gmail.com</p>
              <p class="form_common_title">Current address in Japan</p>
              <p class="form_confirm_text">Shinjuku Station Hotel</p>
              <div class="form_sub_others_confirm">
                <p class="form_sub_confirm_text"><span class="bold">I'm not guest.</span> I'm making this booking for someone else.</p>
                <p class="form_common_title">Name<span>*</span></p>
                <p class="form_confirm_text">Mr.Yuya Yamamoto</p>
                <p class="form_common_title">Email<span>*</span></p>
                <p class="form_confirm_text">azarashi@gmail.com</p>
                <p class="form_sub_confirm_text">Please send the Confirmation Email and Payment information <span class="red">only to me.</span></p>
              </div>
            </div>
            <input type="submit" value="Send request" class="form_subtmit_btn">
          </form>
        </div>
      </section>
      <aside class="exdetail_right_block" style="height: 1816px;">
        <div class="exdetail_right_top" style="position: absolute; top: 0px;">
          <div class="exdetail_main_pic" style="background: url(<%= image_url("ex/pic01.jpg") %>) center center no-repeat;background-size: cover;"></div>
          <p class="form_aside_pic_info"><a href="">Hosted by SUiTO</a></p>
          <table class="form_aside_table">
            <tbody>
              <tr>
                <th>
                  <img src=<%= image_path("form/money.png") %> alt="money">
                </th>
                <td>
                  <span>¥2,400</span>/guest
                </td>
              </tr>
              <tr>
                <th>
                  <img src=<%= image_path("form/time.png") %> alt="time">
                </th>
                <td>
                  2 hours total
                </td>
              </tr>
              <tr>
                <th>
                  <img src=<%= image_path("form/place.png") %> alt="place">
                </th>
                <td>
                  Momochihama
                </td>
              </tr>
            </tbody>
          </table>
          <div class="form_aside_box">
            <p class="form_aside_box_title">Provided</p>
            <p class="form_aside_box_text">
              ・Shodo trial set<br>
              ・T-Shirt<br>
              ・Tea or water
            </p>
          </div>
          <div class="form_aside_box">
            <p class="form_aside_box_title">Cancellation policy</p>
            <p class="form_aside_box_text">
              Get a full refund if you cancel within 24 hours of purchase.
            </p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
