<%= content_for :title_header do %>
  Experience | SUITO
<% end %>
<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Find Things to Do in Fukuoka
        <%= image_tag("common/spring_icon", alt: "find things to do in Fukuoka") %>
      </h1>
      <div class="pankuzu_wrap">
        <div class="common_inner">
          <ul class="pankuzu_list">
            <%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => "" %>
        </div>
      </div>
      <div class="top_mv_filter" id="MvExpFilter"></div>  
      <div class="ex_main_block">
        <div class="ex_main_block_inner">
          <div class="ex_main_left">
            <% if @hot_exp.present? && @hot_exp.experience_detail.present? %>
              <div class="ex_main_pic" style="background: url(<%= image_url('ex/sample_pic')%>) center center no-repeat;background-size: cover;">
                <p class="ex_new_tag">
                  <%= image_tag("ex/new_icon") %>
                </p>
                <div class="ex_info_box">
                  <a href="" class="ex_info_title"><%= @hot_exp.experience_detail.title %></a>
                  <div class="ex_info_inner">
                    <a href="" class="ex_info_left"><span><%= @hot_exp.location.province %></span></a>
                    <% if @hot_exp.categories.present? %>
                      <a href="" class="ex_info_right">
                        <span>
                          <% @hot_exp.categories.each do |cat| %>
                            <%= cat.category_name %>
                          <% end %>
                        </span>
                      </a>
                    <% end %>
                  </div>
                </div>
                <span class="ex_main_price"><%= number_to_currency(@hot_exp.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%></span>
              </div>
            <% end %>
          </div>
          <div class="ex_main_right">
            <%= search_form_for @search,url: search_experience_index_path , class: "ex_main_form" do |f| %>
              <div class="header_search_block ex_main_search">
                <input type="text" name="ex_date" autocomplete="off" class="header_search_date" id="ExSearchDate">
                <div class="header_exp_block">
                  <input type="text" name="ex_place" autocomplete="off" class="header_search_place" id="ExSearchPlace">
                  <div class="header_exp_popup" id="ExPlacePop">
              
                    <div class="" id="EXSearchPlace_Choose">
                      <ul class="top_mv_place_list">
                        <li class="top_mv_place_item" data-explace="博多 hakata">博多 hakata</li>
                        <li class="top_mv_place_item" data-explace="天神 tenjin">天神 tenjin</li>
                        <li class="top_mv_place_item" data-explace="中洲 Nakasu">中洲 Nakasu</li>
                        <li class="top_mv_place_item" data-explace="大濠公園 Ohori Park">大濠公園 Ohori Park</li>
                        <li class="top_mv_place_item" data-explace="百道浜 Momochihama">百道浜 Momochihama</li>
                        <li class="top_mv_place_item" data-explace="西新 Nishijin">西新 Nishijin</li>
                        <li class="top_mv_place_item" data-explace="西区 Nishiku">西区 Nishiku</li>
                        <li class="top_mv_place_item" data-explace="東区 Higashiku">東区 Higashiku</li>
                      </ul>
                    </div>
                      
                  </div>
                </div>
                <div class="header_exp_block">
                  <input type="text" name="ex_exp" autocomplete="off" class="header_search_exp" id="ExSearchExp">
                  <div class="header_exp_popup" id="ExSearchPop">
                    
                    <div class="checkbox_style">
                      <input type="checkbox" name="ex_experience" value="exp01" id="Ex01" data-excheck="アート">
                      <label for="Ex01"><span>アート</span></label>
                    </div>
                    <div class="checkbox_style">
                      <input type="checkbox" name="ex_experience" value="exp02" id="Ex02" data-excheck="ライフスタイル">
                      <label for="Ex02"><span>ライフスタイル</span></label>
                    </div>
                    <div class="checkbox_style">
                      <input type="checkbox" name="ex_experience" value="exp03" id="Ex03" data-excheck="フード＆ドリンク">
                      <label for="Ex03"><span>フード＆ドリンク</span></label>			
                    </div>
                    
                  </div>
                </div>
                <%= f.submit "Search", class: "header_search_submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="common_inner">
    <section class="ex_list_block">
      <div class="ex_list_top_area">
        <p class="ex_list_num">          
          <%= page_entries_info @experiences, entry_name: 'experiences' %>
          <%= paginate @experiences%>
      </div>
      <div class="ex_list_loop_block clearfix">
        <% if @experiences.present? %>
          <% @experiences.each do |exp| %>
            <article class="ex_comon_list">
              <a href="<%= experience_path(exp) %>" class="ex_common_up">
                <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
                  <div class="filter"></div>
                  <span class="price_tag"><%= number_to_currency(exp.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%></span>
                </div>
                <h1 class="title"><%= link_to exp.experience_detail.title, exp %></h1>
                <p class="text">
                <%if exp.experience_detail.description.present?%>
                  <%= exp.experience_detail.description.truncate(140) %>
                <%end%>
                </p>
              </a>
              <div class="ex_common_down">
                <a href="" class="place"><span><%= exp.location.province %></span></a>
                <% if exp.categories.present? %>
                  <a href="" class="tag">
                    <span>
                      <% exp.categories.each do |category| %>
                        <%= category.category_name %>
                      <% end %>
                    </span>
                  </a>
                <% end %>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
      <ul class="ex_list_up_pager bottom">
        <%= paginate @experiences, theme: 'bottom_page_theme' %>
      </ul>
    </section>
  </div>
<!--
  <section class="top_movie_wrap">
    <div id="TopMovie"></div>
  </section>
-->
  <section class="common_bottom_pic_block">
    <%= image_tag("common/bottom_mv_pic") %>
    <a href="" class="common_bottom_pic_btn"><span>Japanese Restaurant SUiTO</span></a>
  </section>
</div>