<%= content_for :title_header do %>
  Experience | SUITO
<% end %>
<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Find Things to Do in Fukuoka
        <%= image_tag("common/spring_icon", alt: "find things to do in Fukuoka") %>
      </h1>
      <div class="pankuzu_wrap">
        <div class="common_inner">
          <ul class="pankuzu_list">
            <%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => "" %>
        </div>
      </div>
      <div class="top_mv_filter" id="MvExpFilter"></div>  
      <div class="ex_main_block">
        <div class="ex_main_block_inner">
          <div class="ex_main_left">
            <% if @hot_exp.present? && @hot_exp.experience_detail.present? %>
              <div class="ex_main_pic" style="background: url(<%= image_url('ex/sample_pic')%>) center center no-repeat;background-size: cover;">
                <p class="ex_new_tag">
                  <%= image_tag("ex/new_icon") %>
                </p>
                <div class="ex_info_box">
                  <a href="<%= experience_path(@hot_exp) %>" class="ex_info_title"><%= @hot_exp.experience_detail.title %></a>
                  <div class="ex_info_inner">
                    <a href="" class="ex_info_left"><span><%= @hot_exp.location.province %></span></a>
                    <% if @hot_exp.categories.present? %>
                      <a href="" class="ex_info_right">
                        <span>
                          <% @hot_exp.categories.each do |cat| %>
                            <%= cat.category_name %>
                          <% end %>
                        </span>
                      </a>
                    <% end %>
                  </div>
                </div>
                <span class="ex_main_price"><%= number_to_currency(@hot_exp.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%></span>
              </div>
            <% end %>
          </div>
          <div class="ex_main_right">
            <div class="header_search_block ex_main_search">
            <%= search_form_for @search,url: search_experience_index_path , class: "ex_main_form" do |f| %>
              <%= f.search_field :location_province_in, name: "ex_date", autocomplete: "off", class: "header_search_date", id: "ExSearchDate", autocomplete: "off" %>
              <div class="header_exp_block">
                <%= f.search_field :location_province_in, autocomplete: "off", class: "header_search_place", id: "ExSearchPlace", autocomplete: "off" %>
                <div class="header_exp_popup" id="ExPlacePop">
                  <div class="" id="EXSearchPlace_Choose">
                    <ul class="top_mv_place_list">
                      <% @locations.each do |loca| %>
                        <li class="top_mv_place_item" data-explace="<%= loca.province %>"><%= loca.province %></li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="header_exp_block">
                <%= f.search_field :categories_category_name_in, class: "header_search_exp", id: "BlogCat", autocomplete: "off" %>
                <div class="header_exp_popup" id="BlogCatPop">
                  <div class="" id="BlogCat_Choose">
                    <ul class="top_mv_place_list">
                      <% @categories.each do |cate| %>
                        <li class="top_mv_place_item" data-cat="<%= cate.category_name %>"><%= cate.category_name %></li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
               <%= f.submit "Search", class: "header_search_submit"%>
            <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="common_inner">
    <section class="ex_list_block">
      <div class="ex_list_top_area">
        <p class="ex_list_num">          
          <%= page_entries_info @experiences, entry_name: 'experiences' %>
          <%= paginate @experiences%>
      </div>
      <div class="ex_list_loop_block clearfix">
        <% if @experiences.present? %>
          <% @experiences.each do |exp| %>
            <article class="ex_comon_list">
              <a href="<%= experience_path(exp) %>" class="ex_common_up">
                <% if exp.experience_detail.image.attached? %>
                  <div class="ex_common_pic" style="background: url(<%= url_for(exp.experience_detail.image)%>) center center no-repeat;background-size: cover;">
                <%else%>
                  <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
                <%end%>
                  <div class="filter"></div>
                  <span class="price_tag">
                    <%= number_to_currency(exp.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%>
                  </span>
                </div>
                <h1 class="title"><%= link_to exp.experience_detail.title, exp %></h1>
                <p class="text">
                <%if exp.experience_detail.description.present?%>
                  <%= exp.experience_detail.description.truncate(140) %>
                <%end%>
                </p>
              </a>
              <div class="ex_common_down">
                <a href="" class="place"><span><%= exp.location.province %></span></a>
                <% if exp.categories.present? %>
                  <a href="" class="tag">
                    <span>
                      <% exp.categories.each do |category| %>
                        <%= category.category_name %>
                      <% end %>
                    </span>
                  </a>
                <% end %>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
      <ul class="ex_list_up_pager bottom">
        <%= paginate @experiences, theme: 'bottom_page_theme' %>
      </ul>
    </section>
  </div>
<!--
  <section class="top_movie_wrap">
    <div id="TopMovie"></div>
  </section>
-->
  <section class="common_bottom_pic_block">
    <%= image_tag("common/bottom_mv_pic") %>
    <a href="" class="common_bottom_pic_btn"><span>Japanese Restaurant SUiTO</span></a>
  </section>
</div>