<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Find Things to Do in Fukuoka
        <%= image_tag("common/spring_icon", alt: "find things to do in Fukuoka") %>
      </h1>
      <div class="pankuzu_wrap">
        <div class="common_inner">
          <ul class="pankuzu_list">
            <li class="pankuzu_item">
              <a href="">Top</a>
            </li>
            <li class="pankuzu_item">
              <span>Experience</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="top_mv_filter" id="MvExpFilter"></div>  
      <div class="ex_main_block">
        <div class="ex_main_block_inner">
          <div class="ex_main_left">
            <div class="ex_main_pic" style="background: url(<%= image_url('ex/sample_pic')%>) center center no-repeat;background-size: cover;">
              <p class="ex_new_tag">
                <%= image_tag("ex/new_icon") %>
              </p>
              <div class="ex_info_box">
                <a href="" class="ex_info_title">Japanese Calligraphy</a>
                <div class="ex_info_inner">
                  <a href="" class="ex_info_left"><span>Momochihama</span></a>
                  <a href="" class="ex_info_right"><span>Entertainment</span></a>
                </div>
              </div>
              <span class="ex_main_price">¥2,400</span>
            </div>
          </div>
          <div class="ex_main_right">
            <form action="" method="" class="ex_main_form">
              <div class="header_search_block ex_main_search">
                <input type="text" name="ex_date" class="header_search_date" id="ExSearchDate">
                <div class="header_exp_block">
                  <input type="text" name="ex_place" class="header_search_place" id="ExSearchPlace">
                  <div class="header_exp_popup" id="ExPlacePop">
              
                    <div class="" id="EXSearchPlace_Choose">
                      <ul class="top_mv_place_list">
                        <li class="top_mv_place_item" data-explace="博多 hakata">博多 hakata</li>
                        <li class="top_mv_place_item" data-explace="天神 tenjin">天神 tenjin</li>
                        <li class="top_mv_place_item" data-explace="中洲 Nakasu">中洲 Nakasu</li>
                        <li class="top_mv_place_item" data-explace="大濠公園 Ohori Park">大濠公園 Ohori Park</li>
                        <li class="top_mv_place_item" data-explace="百道浜 Momochihama">百道浜 Momochihama</li>
                        <li class="top_mv_place_item" data-explace="西新 Nishijin">西新 Nishijin</li>
                        <li class="top_mv_place_item" data-explace="西区 Nishiku">西区 Nishiku</li>
                        <li class="top_mv_place_item" data-explace="東区 Higashiku">東区 Higashiku</li>
                      </ul>
                    </div>
                      
                  </div>
                </div>
                <div class="header_exp_block">
                  <input type="text" name="ex_exp" class="header_search_exp" id="ExSearchExp">
                  <div class="header_exp_popup" id="ExSearchPop">
                    
                    <div class="checkbox_style">
                      <input type="checkbox" name="ex_experience" value="exp01" id="Ex01" data-excheck="アート">
                      <label for="Ex01"><span>アート</span></label>
                    </div>
                    <div class="checkbox_style">
                      <input type="checkbox" name="ex_experience" value="exp02" id="Ex02" data-excheck="ライフスタイル">
                      <label for="Ex02"><span>ライフスタイル</span></label>
                    </div>
                    <div class="checkbox_style">
                      <input type="checkbox" name="ex_experience" value="exp03" id="Ex03" data-excheck="フード＆ドリンク">
                      <label for="Ex03"><span>フード＆ドリンク</span></label>			
                    </div>
                    
                  </div>
                </div>
                <input type="submit" value="検索" class="header_search_submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="common_inner">
    <section class="ex_list_block">
      <div class="ex_list_top_area">
        <p class="ex_list_num"><span>73</span><span>/</span><span>73</span> experience</p>
        <ul class="ex_list_up_pager">
          <li class="ex_list_up_pager_item">
            <a href="" class="prev">
              <%= image_tag("ex/left_icon01") %>
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              1
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              2
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              3
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            ...
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              7
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="next">
              <%= image_tag("ex/right_icon01") %>
            </a>
          </li>
        </ul>
      </div>
      <div class="ex_list_loop_block clearfix">
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
      </div>
      <ul class="ex_list_up_pager bottom">
        <li class="ex_list_up_pager_item">
          <a href="" class="prev">
            <%= image_tag("ex/left_icon02") %>
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            1
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            2
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            3
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          ...
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            7
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="next">
            <%= image_tag("ex/right_icon02") %>
          </a>
        </li>
      </ul>
    </section>
  </div>
<!--
  <section class="top_movie_wrap">
    <div id="TopMovie"></div>
  </section>
-->
  <section class="common_bottom_pic_block">
    <%= image_tag("common/bottom_mv_pic") %>
    <a href="" class="common_bottom_pic_btn"><span>Japanese Restaurant SUiTO</span></a>
  </section>
</div>