<%= content_for :title_header do %>
  Experience | SUITO
<% end %>
<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        <%= @experience.experience_detail.title %>
      </h1>
      <div class="pankuzu_wrap">
        <div class="common_inner">
          <ul class="pankuzu_list">
            <%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => "" %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="exdetail_wrap clearfix">
    <section class="exdetail_left_block">
      <h1 class="exdetail_title">
        <%= @experience.experience_detail.title %>
      </h1>
      <div class="exdetail_info_wrap">
        <h2 class="exdetail_writer">Hosted by <%= @host.fullname %></h2>
        <div class="exdetail_info_right">
          <a href="" class="place"><span><%= @experience.location.province%></span></a>
          <% if @experience.categories.present? %>
            <a href="" class="tag">
              <span>
                <% @experience.categories.each do |category| %>
                    <%= category.category_name %>
                <% end %>
              </span>
            </a>
          <% end %>
        </div>
      </div>
      <ul class="exdetail_intro_wrap">
        <li class="exdetail_intro_item money">
          <%= image_tag  "ex/money_icon" %>
          <%= number_to_currency(@experience.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%> / guest
        </li>
        <li class="exdetail_intro_item child">
        <%= image_tag  "ex/baby_icon" %>
          ages <%= @experience.experience_detail.age %>
        </li>
        <li class="exdetail_intro_item time">
          <%= image_tag  "ex/time_icon02" %>
          <%= @experience.experience_detail.duration %> total
        </li>
        <li class="exdetail_intro_item language">
          <%= image_tag  "ex/talk_icon" %>
          Offered in <%= @experience.experience_detail.language %>
        </li>
      </ul>
      <div class="exdetail_what_block">
        <h3 class="exdetail_common_title">What we will do</h3>
        <p class="exdetail_common_text">
          <%= @experience.experience_detail.description %>
        </p>
      </div>
      <div class="exdetail_what_block sp">
        <div class="exdetail_what_inner">
          <h3 class="exdetail_common_title">About your host</h3>
          <p class="exdetail_common_text">
            <%= @host.bio %>
          </p>
        </div>
        <div class="pic">
          <figure class="hexclip">
            <%= image_tag("ex/pic01", width: "85px", height: "85px", class: "sp")%>
            <!-- 画像サイズ正方形-->
<!--                 <div class="img" style="background: url(static/images/ex/pic01.jpg) center center no-repeat;background-size: cover;"></div> -->
          </figure>
          <p class="text"><%= @host.fullname %></p>
        </div>
      </div>
      <div class="exdetail_what_block">
        <h3 class="exdetail_common_title">What your host will provide</h3>
        <p class="exdetail_common_text">
          ・Shodo trial set<br>
          ・T-Shirt<br>
          ・Tea or water
        </p>
      </div>
      <div class="exdetail_what_block">
        <table class="exdetil_detail_block">
          <tr>
            <th>
              <%= image_tag  "ex/money_icon" %>
            </th>
            <td>
              <p class="big"><%= number_to_currency(@experience.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%> / guest</p>
              <p class="small">Children <%= number_to_currency(@experience.experience_detail.price_children.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%>   Infants <%= number_to_currency(@experience.experience_detail.price_infant.to_f, unit: "$US", precision: 2, separator: ",", delimiter: ".", format: "%u %n")%></p>
            </td>
          </tr>
          <tr>
            <th>
              <%= image_tag  "ex/baby_icon" %>
            </th>
            <td>
              <p class="big">ages <%= @experience.experience_detail.age %></p>
              <p class="small">All guests must be at least <%= @experience.experience_detail.age %>.</p>
            </td>
          </tr>
          <tr>
            <th>
              <%= image_tag  "ex/time_icon02" %>
            </th>
            <td>
              <p class="big"><%= @experience.experience_detail.duration %> total</p>
              <p class="small">It does not include the clean up time</p>
            </td>
          </tr>
          <tr>
            <th>
              <%= image_tag  "ex/talk_icon" %>
            </th>
            <td>
              <p class="big">Offered in <%= @experience.experience_detail.language %></p>
              <p class="small">If you need a interpreter..... </p>
            </td>
          </tr>
          <tr>
            <th>
              <%= image_tag  "ex/people_icon02" %>
            </th>
            <td>
              <p class="big">1 - 10 guests</p>
              <p class="small">There are 10 spots available on this experience.</p>
            </td>
          </tr>
          <tr>
            <th>
              <%= image_tag  "ex/weather_icon" %>
            </th>
            <td>
              <p class="big">Available Rain or Shine</p>
              <p class="small">If it rains, this experience will be cancelled.</p>
            </td>
          </tr>
          <tr>
            <th>
              <%= image_tag  "ex/cancel_icon" %>
            </th>
            <td>
              <p class="big">Cancellation policy</p>
              <p class="small">There will be a cancellation fee.</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="exdetail_what_block">
        <h3 class="exdetail_common_title">Notes</h3>
        <p class="exdetail_common_text">
          We don't have a gluten free option ... sorry.  Please bring your camera and towels
        </p>
      </div>
      <div class="exdetail_what_block">
        <h3 class="exdetail_common_title">Access</h3>
        <p class="exdetail_common_text">
          1-2-29, Imaizumi, Chuo-ku ,Fukuoka city
        </p>
        <div class="exdetail_map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.775341920612!2d130.39887971488457!3d33.58518184964602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541919ad639a5e9%3A0x766f7a63dd06dfe3!2z5pel5pys44CB44CSODEwLTAwMjEg56aP5bKh55yM56aP5bKh5biC5Lit5aSu5Yy65LuK5rOJ77yR5LiB55uu77yS4oiS77yS77yZ!5e0!3m2!1sja!2stw!4v1506240893327" width="" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="exdetail_what_block">
        <h3 class="exdetail_common_title">Reviews</h3>
        <div>
          <%= image_tag  "ex/reviews_pic" %>
        </div>
      </div>
    </section>
    <aside class="exdetail_right_block">
      <div class="exdetail_right_top">
        <div class="exdetail_main_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;"></div>
        <div class="exdetail_calendar">
          <div class="top_fair_calendar">
            <p class="top_fair_calendar_pager">
              <input type="button" id="FairPrev" class="top_fair_calendar_prev">
              <input type="button" id="FairNext" class="top_fair_calendar_next">
            </p>
            <div id="Calen" class="top_fair_calendar_main"></div>
          </div>
        </div>
        <p class="exdetail_open">
          Opening hours <span>10:00~18:00</span>
        </p>
        <a href="" class="exdetail_book_btn">Go to Application form</a>
      </div>
    </aside>
  </div>  
  <%= render 'experience/commons/recommended_experience_in_place'%>
</div>