<div class="common_inner">
    <div class="exdetail_bottom_slider">
      <h3 class="exdetail_common_title">Recommended Experiences in <%= @experience.location.province%></h3>
      <div class="exdetail_bxslider">
        <% if @recommends.present? %>      
          <% @recommends.each do |rec| %>
            <div class="slide">
              <a href="<%= experience_path(rec) %>">
                <div class="pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
                  <span class="price_tag"><%= number_to_currency(rec.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%></span>
                </div>
                <p class="text"><%= rec.experience_detail.title %></p>
              </a>
            </div>
          <% end %>  
        <% end %>
      </div>
    </div>
  </div>