<%= content_for :title_header do %>
  Blog | SUITO
<% end %>
<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Blog 
        <%= image_tag("common/spring_icon.png", alt: "find things to do in Fukuoka") %>
      </h1>
      <div class="pankuzu_wrap">
        <div class="common_inner">
          <ul class="pankuzu_list">
            <%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => "" %>
          </ul> 
        </div>
      </div>
      <div class="top_mv_filter" id="MvExpFilter"></div>
      <div class="ex_main_block">
        <div class="ex_main_block_inner">
          <div class="ex_main_left">
            <div class="ex_main_pic" style="background: url(<%= image_url("ex/sample_pic") %>) center center no-repeat;background-size: cover;">
              <span class="blog_main_left_tag">
                <% @blog_first.categories.each do |category| %>
                  <%= category.category_name %>
                <% end %>
              </span>
              <div class="blog_main_center_block">
                <h2 class="title"><a href=""><%= @blog_first.blog_detail.title%></a></h2>
                <div class="bottom">
                  <ul class="tag_list">
                    <% @blog_first.hashtags.each do |hash_tag| %>
                      <li>
                        <a href="" class="tag">
                          #<%= hash_tag.tag_name %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                  <div class="people" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;"></div>
                </div>
              </div>
              <span class="blog_main_place_tag">
                <%= image_tag("common/place_icon_w.png") %>
                <a href=""><%= @blog_first.location.province%></a>
              </span>
            </div>
          </div>
          <div class="ex_main_right">
            <div class="header_search_block ex_main_search">
              <%= search_form_for @search, url: search_blog_index_path , class: "ex_main_form" do |f| %>
                <div class="header_exp_block">
                  <%= f.search_field :categories_category_name_has_any_term, class: "blog_search_cat", id: "BlogCat"%>
                  <div class="header_exp_popup" id="BlogCatPop">
                    <div class="" id="BlogCat_Choose">
                      <ul class="top_mv_place_list">
                        <% @categories.each do |cate| %>
                          <li class="top_mv_place_item" data-cat="<%= cate.category_name %>"><%= cate.category_name %></li>
                        <%end%>
                      </ul>
                    </div>
                  </div>
                </div>
                <%= f.search_field :hashtags_tag_name_has_any_term, class: 'blog_search_key'%>
                <div class="header_exp_block">
                  <%= f.search_field :location_province_has_any_term, class: "header_search_place", id: "ExSearchPlace"%>
                  <div class="header_exp_popup" id="ExPlacePop">
                    <div class="" id="EXSearchPlace_Choose">
                      <ul class="top_mv_place_list">
                        <% @locations.each do |loca| %>
                          <li class="top_mv_place_item" data-explace="<%= loca.province %>"><%= loca.province %></li>
                        <%end%>
                      </ul>
                    </div>
                  </div>
                </div>
                <%= f.submit "Search", class: "header_search_submit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="common_inner">
    <section class="ex_list_block">
      <div class="ex_list_top_area">
        <p class="ex_list_num">
          <%= page_entries_info @blogs, entry_name: 'blogs' %>
          <%= paginate @blogs%>
      </div>
      <section class="blog_ranking_wrap clearfix">
      <% @popular_blogs.each_with_index do |blog, index|%>
        <article class="blog_ranking_block">
          <a href="<%= blog_path(blog) %>" class="link clearfix">
            <%= rank(index) %>
            <div class="right">
              <div class="pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
                <% if blog.categories.any? %>
                  <span class="blog_main_left_tag">
                    <%unless blog.categories.first.nil? %>
                      <%= blog.categories.first.category_name %>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <h1 class="title"><%= blog.blog_detail.title%></h1>
            </div>
          </a>
        </article>
      <%end%>

      </section>
      
  <section class="blog_main_wrap">
    <% @blogs.each do |blog| %>

      <article class="blog_common_block clearfix">
        <a href="<%= blog_path(blog) %>" class="blog_pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
         
          <% if blog.categories.any? %>
            <span class="blog_main_left_tag">
            <% if !blog.categories.first.nil? %>
              <%= blog.categories.first.category_name %>
            <% end %>
            </span>
          <% end %>
          
        </a>
        <div class="right">
          
          <%= link_to blog, class: "blog_main_link" do %>
          
            <h1 class="title">
              <%= blog.blog_detail.title %> 
            </h1>

            <p class="text" id="block-with-text">
              <%= blog.blog_detail.description %>
            </p>
            <p class="date"> <%= blog.blog_detail.updated_at.strftime("%Y/%m/%d") %> </p>


          <% end %>
            
          
          <div class="bottom">
            <p class="place">
              <%= image_tag("common/place_icon.png") %>
              
              <%= link_to blog.location.province, search_blog_index_path(:q =>{:location_province_has_any_term => blog.location.province }) %>
            </p>
            <ul class="tag_list">
              <% blog.hashtags.each do |hash_tag| %>
                <li>                  
                  <%= link_to "##{hash_tag.tag_name}", search_blog_index_path(:q => {:hashtags_tag_name_has_any_term => hash_tag.tag_name}), class: "tag" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="people_area">
          <div class="pic BlogPeople" style="background: url(<%= image_url("common/sample_people.png") %>) center center no-repeat;background-size: cover;"></div>
          <span class="talk">No Ramen, No Life!  by youyou</span>
        </div>
      </article>

    <% end %>
  </section>

  <ul class="ex_list_up_pager bottom">
    <%= paginate @blogs, theme: 'bottom_page_theme' %>
  </ul>
</section>
<!--
      <section class="top_movie_wrap">
        <div id="TopMovie"></div>
      </section>
-->
  </div>
  <section class="common_bottom_pic_block">
    <%= image_tag("common/bottom_mv_pic.jpg") %>
    <a href="" class="common_bottom_pic_btn"><span>Japanese Restaurant SUiTO</span></a>
  </section>
</div>