<%= content_for :title_header do %>
  Blog | SUITO
<% end %>
<div class="top_main_view">
  <div class="">
    <div class="pankuzu_wrap bg">
      <div class="common_inner">
        <ul class="pankuzu_list">
          <%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => "" %>
        </ul>
      </div>
    </div>
    <div class="blogdetail_wrap clearfix">
      <section class="blogdetail_main">
        <div class="blogdetail_mv_pic" style="background: url(<%= image_url('common/sample_pic')%>) center center no-repeat;background-size: cover;"></div>
        <div class="blogdetail_mv_block">
          <div class="blogdetail_info">
            <% @blog.categories.each do |category| %>
              <p class="tag">
                <%= category.category_name %>
              </p>
            <% end %>
            <p class="date"><%= @blog.blog_detail.updated_at.strftime('%Y/%m/%d') %></p>
          </p>
        </div>
        <h1 class="blogdetail_title">
          <%= @blog.blog_detail.title%>
        </h1>
        <p class="main_place">
          <%= image_tag("common/place_icon")%>
          <a href=""><%= @blog.location.province%></a>
        </p>
      </div>
      <div class="blogdetail_textarea">
        <%= @blog.blog_detail.content.try(:html_safe)%>
      </div>
      <div class="blogdetail_keywords_wrap">
        <p class="blogdetail_common_title">
          Blog keywords
        </p>
        <ul class="tag_list">
          <% @blog.hashtags.each do |hash_tag| %>
            <li>
              <a href="" class="tag">
                  #<%= hash_tag.tag_name %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="blogdetail_recommend_wrap">
        <p class="blogdetail_common_title">
          Recommended blogs for you
        </p>
        <% @recommend_blogs.each do |recommend_blog|%>
          <article class="blog_common_block clearfix detail">
            <a href="" class="blog_pic" style="background: url(<%= image_url('common/sample_pic')%>) center center no-repeat;background-size: cover;">
              <span class="tag"><%= recommend_blog.categories.first.category_name %></span>
            </a>
            <div class="right">
              <a href="" class="blog_main_link">
                <h1 class="blogdetail_title"><%= recommend_blog.blog_detail.title %></h1>
                <p class="text">
                  <%= recommend_blog.blog_detail.description %>
                </p>
                <p class="date"><%= recommend_blog.blog_detail.updated_at.strftime('%Y/%m/%d')%></p>
              </a>
              <div class="bottom">
                <p class="place">
                  <%= image_tag("common/place_icon") %>
                  <%= link_to recommend_blog.location.province, search_blog_index_path(:q =>{:location_province_has_any_term => recommend_blog.location.province }) %>
                </p>
                <ul class="tag_list">
                <% recommend_blog.hashtags.each do |hashtag|%>
                  <li>
                    <%= link_to "##{hashtag.tag_name}", search_blog_index_path(:q => {:hashtags_tag_name_has_any_term => hashtag.tag_name}), class: "tag" %>
                  </li>
                <% end %> 
                </ul>
              </div>
            </div>
            <div class="people_area">
              <div class="pic BlogPeople" style="background: url(<%= image_url('common/sample_people')%>) center center no-repeat;background-size: cover;"></div>
              <span class="talk">No Ramen, No Life!  by youyou</span>
            </div>
          </article>
        <% end %>
      </div>
      <div class="blogdetail_ex_wrap clearfix">
        <p class="blogdetail_common_title sp">
          Hot experiences in <%= @blog.location.province%>
        </p>
        <div class="blogdetail_ex_inner clearfix">
          <% if @hot_exp.present? %>
            <% @hot_exp.each do |exp| %>
              <article class="ex_comon_list">
                <a href="<%= experience_path(exp) %>" class="ex_common_up">
                  <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
                    <div class="filter"></div>
                    <span class="price_tag"><%= number_to_currency(exp.experience_detail.price_adult.to_f, unit: "$US", precision: 0, separator: ",", delimiter: ".", format: "%u %n")%></span>
                  </div>
                  <h1 class="title"><%= exp.experience_detail.title %></h1>
                  <p class="text">
                    <%= exp.experience_detail.description.truncate(140) %>
                  </p>
                </a>
                <div class="ex_common_down">
                  <a href="" class="place"><span><%= exp.location.province %></span></a>
                  <% if exp.categories.present? %>
                    <a href="" class="tag">
                      <span>
                        <% exp.categories.each do |category| %>
                          <%= category.category_name %>
                        <% end %>
                      </span>
                    </a>
                  <% end %>
                </div>
              </article>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
    <aside class="blogdetail_aside">
      <div class="blodetail_writer_wrap clearfix">
        <div class="inner">
          <div class="pic" style="background: url(<%= image_url('common/sample_people')%>) center center no-repeat;background-size: cover;"></div>
          <div class="right">
            <p class="writer">
              Writer<span>youyou</span>
            </p>
          </div>
        </div>
        <p class="writer_talk">No ramen, No life !!</p>
      </div>
      <div class="blodetail_aside_ranking">
        <p class="blogdetail_aside_title">Blog ranking</p>
        <%@popular_blogs.each_with_index do |blog, index|%>
          <article class="blogdetail_ranking_block">
            <a href="<%= blog_path(blog) %>" class="link clearfix">
              <%= rank(index) %>
              <div class="pic" style="background: url(<%= image_url('common/sample_pic')%>) center center no-repeat;background-size: cover;">
              </div>
              <h1 class="title"><%= blog.blog_detail.title%></h1>
            </a>
          </article>
        <%end%>
      </div>
      <div class="blodetail_aside_ranking">
        <p class="blogdetail_aside_title">Blog category</p>
        <%= form_tag search_blog_index_path, :method => 'get' do %>
          
     <%= select_tag("q[categories_category_name_has_any_term]", options_for_select(@categories.collect{|cat| [cat.category_name, cat.category_name]}), onchange: 'this.form.submit();', class: "blogdetail_aside_select") %>
        <% end %>
      </div>
    </aside>
  </div>
</div>
</div>
