<header>
	<div class="header_wrap_pc_top">
		<div class="header_wrap_inner">
			<a href="/" class="header_logo">
				<%= image_tag("common/logo.png") %>
			</a>
			<nav class="header_top_menu">
				<a href="/experience" class="header_menu_link">
					Experience
				</a>
				<a href="/" class="header_menu_link">
					Restaurant
				</a>
				<a href="/" class="header_menu_link">
					Rental space
				</a>
				<a href="/blog" class="header_menu_link">
					Blog
				</a>
				<a href="/" class="header_menu_link">
					AccessSUiTO
				</a>
				<a href="/" class="header_menu_link">
					FAQ
				</a>				
			</nav>
			<select name="language_choose" class="header_select">
				<option value="English">English</option>
				<option value="Chinese">Chinese</option>
			</select>
		</div>	
	</div>
	<div class="header_exp_filter" id="HeaderExpFilter"></div>
	<div class="header_wrap_pc_scroll" id="HeaderScroll">
		<div class="header_wrap_inner">
			<a href="" class="header_logo">
				<%= image_tag("common/logo_b.png") %>
			</a>
			<% unless is_multiple_process_form? %>
				<%= render 'layouts/form_date_and_header_info_button' %>
			<% else %>
				<%= render 'layouts/form_header_info_block' %>
			<% end %>
		

			<div class="header_right_block">
  			<div class="header_menu" id="MenuBtn">
          <span class="header_line header_top_line"></span>
          <span class="header_line header_middle_line"></span>
          <span class="header_line header_bottom_line"></span>
        </div>
        <nav class="header_nav_block">
      	  <a href="" class="header_menu_link">
      			Experience
      		</a>
      		<a href="" class="header_menu_link">
      			Restaurant
      		</a>
      		<a href="" class="header_menu_link">
      			Rental space
      		</a>
      		<a href="" class="header_menu_link">
      			Blog
      		</a>
      		<a href="" class="header_menu_link">
      			AccessSUiTO
      		</a>
      		<a href="" class="header_menu_link">
      			FAQ
      		</a>
					<% if admin_user_signed_in? %>
					<%= link_to "Sign out", destroy_admin_user_session_path, :method => :delete, class: "header_menu_link" %>
					<% else %>
					<%= link_to "Sign up", new_admin_user_registration_path, class: "header_menu_link" %>
					<%= link_to "Sign in", new_admin_user_session_path, class: "header_menu_link" %>
					<% end %>
        </nav>
			</div>
		</div>
	</div>
	
</header>