<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title_header %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="●●●">
    <meta name="Keywords" content="●●●">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content=" ">
    <meta property="og:image" content=" ">
    <meta property="og:site_name" content=" ">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" >
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url%>
  </head>
  <body id="TOP">
    <%= render 'layouts/header'%>
    <div class="top_main_wrap">
      <% flash.each do |key, msg| %>
        <div class="alert alert-info alert-dismissable" role="alert" style="margin: 2rem !important;">
          <button type="button" data-dismiss="alert" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
      <% unless hide_side_bar? %>
        <%= render 'layouts/sns_sidebar'%>
      <% end %>
      <a href="#TOP" class="common_up_btn">
        <%= image_tag("common/up_arrow.png", alt: "△") %>
      </a>
      <%= render 'layouts/footer'%>
    </div>
    <script>
      jQuery(function($){
      
        	$(".top_blog_tag_link").click(function(){
            var tag_s_id = $(this).attr("id");
            console.log(tag_s_id);
            
            // location.href 
          });
      
      
        	Modernizr.load({
      			test: Modernizr.csstransforms3d && Modernizr.csstransitions,
      			yep : ['<%= javascript_url("jquery.hoverfold.js")%>'],
      			nope: '<%= stylesheet_url("hover/fallback.css") %>',
      			callback : function( url, result, key ) {
      
      				if( url === '<%= javascript_url("jquery.hoverfold.js")%>') {
      					$( '.top_common_title' ).hoverfold();
      				}
      
      			}
      		});
      
      /*
      	$('input[name="header_date"]').daterangepicker({
      		autoUpdateInput: false,
      		locale: {
                cancelLabel: 'Clear'
            }
      	});
      
      	$('input[name="header_date"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
            $("#HeaderExpFilter").fadeOut();
        });
      
        $('input[name="header_date"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
            $("#HeaderExpFilter").fadeOut();
        });
      */
      
      
      //Experience date holder
      $('#ExSearchDate').on("click",function(){
        $("#MvExpFilter").fadeIn();
      });
      
      
      $('#ExSearchDate').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
      $("#MvExpFilter").fadeOut();
        });
      
        $('#ExSearchDate').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
      $("#MvExpFilter").fadeOut();
        });
      
        $('#ExSearchDate').daterangepicker({
      			autoUpdateInput: false,
      			locale: {
          cancelLabel: 'Clear'
      }
      		});
      
      
        $('input[name="top_date"]').daterangepicker({
      		autoUpdateInput: false,
      		locale: {
                cancelLabel: 'Clear'
            }
      	});
      
      	$('input[name="top_date"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
            $("#MvExpFilter").fadeOut();
        });
      
        $('input[name="top_date"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
            $("#MvExpFilter").fadeOut();
        });
      
      	$('.top_mv_bxslider').bxSlider({
        		mode:'fade',
          slideWidth: 1220,
          minSlides: 1,
      // 	    maxSlides: 3,
      // 	    slideMargin: 10,
          pager:false,
          controls:false,
          auto:true,
          pause:5000
        });
      
        $("#ThanksMail").on("click",function(){
          	$(".thanks_mail_wrap").stop().slideToggle();
        	});
      
      
      
      
        $(".ex_comon_list").matchHeight();
      
      		$('.exdetail_bxslider').bxSlider({
      	    slideWidth: 255,
      	    minSlides: 1,
      	    maxSlides: 3,
      	    slideMargin: 40,
      	    pager:false
      // 	    controls:false,
      	  });
      
      });
    </script>
    <!-- Movie -->
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('TopMovie', {
          height: '730',
          width: '100%' ,
          videoId: 'CLxntu0QIFA',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }
      
      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
      	        stopVideo();
      //           setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
  </body>
</html>
